/* resets */
*
{
  border: 0px;
  padding: 0px;
  margin: 0px;
}
body
{
  color: #555;
}
ul
{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
img
{
  max-width: none;
}
form
{
  margin-bottom: 0px;
}

/* google maps */
html, body, #map_canvas
{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}
#map_canvas
{
  top: 0px;
  bottom: 0px;
  z-index: 1;
}


/*  hide mobile menu */
.menu_mobile
{
  display: none;
}



/* topbar nav */
.topbar
{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  background-color: #fff;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  min-width: 850px;
  background: #222;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}
.topbar .left
{
  overflow: hidden;
  min-width: 600px;
  position: absolute;
}
.topbar .right
{
  float: right;
  padding: 3px 5px 0px 0px;
}
.topbar .logo
{
  padding: 10px 10px 0px 20px;
  float: left;
}
.topbar .logo a
{
  display: inline-block;
}
.topbar .logo a img
{
  display: block;
}
.topbar .buttons
{
  float: left;
  line-height: 60px;
  margin: -1px 15px 0px 20px;
}
.topbar .buttons .btn
{
  font-size: 8pt;
  padding: 6px 8px;
}
.topbar .buttons .btn i
{
  opacity: .5;
  margin: 0px 4px 0px 0px;
}
.topbar .buttons .btn:hover i
{
  opacity: 1;
}
.topbar .attribution
{
  float: right;
  line-height: 60px;
  color: #777;
  font-size: 11px;
  font-weight: normal;
  line-height: 130%;
  padding: 13px 15px 0px 15px;
}
.topbar .attribution
{
  margin-right: 15px;
}
.topbar .share
{
  float: right;
  line-height: 0px;
  color: #777;
  padding: 17px 10px 20px 10px;
}
.topbar .share div,
.topbar .share iframe
{
  display: inline-block;
  vertical-align: middle;
  margin-right: 2px;
}
.topbar .share .btn
{
  text-shadow: none;
}
.topbar .search
{
  float: left;
  line-height: 60px;
}
.topbar .search input
{
  margin-top: 8px;
  width: 160px;
  font-size: 8pt;
  padding-left: 26px;
  background-image: url("./images/icon-search.png");
  background-position: 8px center;
  background-repeat: no-repeat;
}


/* marker list, right-side gutter */
.menu
{
  position: absolute;
  z-index: 2;
  font-size: 20px;
  font-weight: bold;
  right: 0;
  top: 0;
  height: 100%;
  background-color: #fff;
  width: 270px;
}
.menu .blurb,
.menu .attribution
{
  color: #999;
  font-size: 8pt;
  font-weight: normal;
  line-height: 1.3em;
  padding: 12px 10px 0px 10px;
}
.menu .blurb a,
.menu .attribution a
{
  color: #666;
}
.menu .blurb a:hover,
.menu .attribution a:hover
{
  color: #fff;
}
.menu .blurb
{
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}
.menu .attribution
{
  padding-bottom: 40px;
}



/* collapsible list */
.list
{
  z-index: 3;
  right: 0;
  top: 0;
  height: 100%;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  overflow-y: auto;
  background-color: #222;
}
.typeahead.dropdown-menu
{
  max-width: 170px;
  overflow: hidden;
  border: 1px solid rgba(0,0,0,.4);
}
.typeahead.dropdown-menu li
{
  font-size: 8pt;
}
.list .category
{
  font-size: 13px;
  color: #eee;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.list .category img
{
  margin-right: 5px;
}
.list .category span
{
  opacity: .5;
}
.list .category .category_item
{
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}
.list .category .category_item:hover
{
  background-color: #333;
}
.list .category .category_info
{
  display: block;
  overflow: hidden;
  padding: 3px 6px;
  color: #DDD;
}
.list .category .category_info:hover
{
  text-decoration: none;
}
.list .category .category_info:focus
{
  outline: none;
}
.list .category .category_toggle
{
  float: right;
  padding: 10px;
  height: 26px;
  cursor: pointer;
}
.list .category .category_toggle.inactive
{
  opacity: .15;
}
.list .category .category_toggle.inactive:hover
{
  opacity: .5;
}
.list .category .category_toggle input
{
  display: none;
}
.list .category .category_toggle
{
  background-image: url("./images/icons/check.png");
  background-position: center center;
  background-repeat: no-repeat;
  width: 25px;
}
.list .list-items
{
  display: none;
}
.list .list-items li
{
  border-top: 1px solid rgba(255,255,255,.03);
  background: #444;
}
.list .list-items li a
{
  display: block;
  font-size: 8pt;
  padding: 7px 10px;
  outline: none;
  color: #ccc;
  font-weight: normal;
  line-height: 1.4em;
}
.list .list-items li a:hover
{
  background-color: rgba(255,255,255,.03);
  text-decoration: none;
  outline: none;
  color: #fff;
}
.list .list-items li a:active
{
  color: #fff;
  background-color: #444;
}



/* markers */
.marker_label
{
  display: none;
  position: relative;
  left: -50%;
  top: -8px;
  white-space: nowrap;
  padding: 2px 4px;
  font-size: 8pt;
  background-color: rgba(0,0,0,.7);
  color: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.marker_title
{
  font-weight: bold;
  max-width: 350px;
}
.marker_uri
{
  font-size: 9pt;
  color: #999;
}
.marker_desc
{
  max-width: 300px;
  color: #555;
  font-size: 9pt;
  margin-top: 10px;
}
.marker_address
{
  font-size: 8pt;
  margin-top: 10px;
  color: #999;
}



/* modals */
.modal
{
  background-color: transparent;
}
.modal .modal-header
{
  background-color: #444;
  color: #f5f5f5;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
}
.modal .modal-header h3
{
  text-shadow: 0px 1px 0px #000;
}
.modal .modal-body
{
  background-color: #fff;
}
.modal .close
{
  color: #fff;
  opacity: .7;
  text-shadow: 0px 1px 0px #000;
}
.modal .close:hover
{
  color: #fff;
  opacity: 1;
}


/* add marker modal */
#modal_add
{
  margin-top: -300px;
}
#modal_add .modal-body
{
  max-height: none;
}
#modal_add fieldset
{
  padding-top: 15px;
}
#modal_add .control-label
{
  font-weight: bold;
}
#modal_add .help-block
{
  font-size: 8pt;
  color: #777;
  max-width: 275px;
  line-height: 15px;
}
#modal_add .modal-footer
{
  text-align: left;
}


/* get info modal */
#modal_info
{
  margin-top: -300px;
}
#modal_info .modal-body
{
  max-height: none;
}
#modal_info p
{
  margin-bottom: 15px;
}
#modal_info .connect a,
#modal_info .connect span
{
  display: inline-block;
  vertical-align: middle;
}
#modal_info .connect span
{
  margin-right: 5px;
}
#modal_info .badges
{
  max-width: 500px;
  overflow: hidden;
  clear: both;
  text-align: center;
  margin: 10px 0px;
}
#modal_info .badges li
{
  display: inline-block;
  vertical-align: middle;
  margin: 10px;
}


/* choose submission method modal (only visible if Startup Genome integration is enabled) */
#modal_add_choose ul li em
{
  display: block;
  font-weight: bold;
  font-style: normal;
  margin-bottom: .5em;
}
#modal_add_choose ul li
{
  margin-top: 25px;
}



/* error overlay */
.error
{
  position: absolute;
  color: #ff0000;
  font-weight: bold;
  background-color: rgba(255,255,255,.7);
  font-size: 11pt;
  z-index: 9999999999;
  top: 80px;
  left: 20px;
  padding: .7em 1em;
  border-radius: 7px;
  border: 2px dashed rgba(255,0,0,.6);
}


/* Flags */
.flags {
    float: left;
    line-height: 60px;
    margin: -1px 15px 0px 20px;
}
.flags img {
    height: 36px;
    margin: 0;
    padding: 0;
}
